body {
  font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
  margin: 20px;
	background: url('../files/gallery.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

h1 {
  color: black;
	font-weight: bolder;
  font-size: 60px;
  text-align: center; }

h2 {
	color: black;
	font-size: 25px;
  text-align: center; }

.img-container {
	padding-left: 600px;
}

.btn-primary {
  color: white;
  font-size: 20px;
  background-color: #5dbcd2;
  border-color: #372c2e;
  border-width: 4px;
  margin-bottom: 4px; }

.btn-primary:hover {
  color: white;
  font-size: 20px;
  background-color: #042f66;
  border-color: #042f66;
  border-width: 4px;
  margin-bottom: 4px; }

	.btn-secondary {
	    color: white;
	    font-size: 20px;
	    background-color: #042f66;
	    border-color: #042f66;
	}
